<html>
<head>
	<title>login</title>
</head>
<body>

	<form method="get" action="/users/loginAction">
			邮箱:<input type="text" name="email"><br/>
			密码:<input type="text" name="password"><br/>
			<input type="submit" value="登录"><br/>
	</form>
</body>
</html>